.speed,
.submit {
  border: none;
  width: 100px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  transition: 0.3s;
  border-radius: 10px;
}

.submit:hover {
  color: #344a6e;
  font-weight: bold;
  background-color: #fff;
}